@import "bootstrap";

#error_explanation li{
    list-style:none;
    color:red;
    font-weight:bold;
}

.logo{
    font-weight:bold;
    color:white;
}

h1{
    margin-top:10px;
    text-align:center;
}